<template>
  <div >
    <vk-card style="margin-top:40px; border-radius: 10px; width: 500px;">
      <vk-grid slot="header" gutter="small" class="uk-flex-middle">

        <div >
            <div >
              <vk-card-title>
                <input @input="inputChangeNome" maxlength="10" type="text" placeholder="Nome" class="title"/>
              </vk-card-title>
              
              <input @input="inputChangeDescricao" maxlength="55" type="text" placeholder="Descriçao" class="descricao"/>
            </div>
        </div>
      </vk-grid>

        <div slot="media-bottom" class="hover" @click="selecionarImagem">
            <img style="max-height:500px" class="avatar" :src="imagem" />
        </div>
    </vk-card>

    <vk-modal center :show.sync="show">
        <h4>Cole o link da imagem para ser utilizado no avatar</h4>
        <input @input="inputChangeAvatar" id="link-input" placeholder="wwww.blablabla.com.br/avatar.png" class="descricao"/>
        <div slot="footer" class="uk-text-right">
            <vk-button class="uk-margin-small-right" @click="cancelar">Cancelar</vk-button>
            <vk-button type="primary" @click="salvar">Salvar</vk-button>
        </div>
    </vk-modal>
  </div>
</template>

<script>

export default {
  name: 'CadastroGladiador',
  components: {
  },
  props: {
    ordem: Number
  },
  data () {
    return {
        imagem: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjwoFsZUccDeLpWTgU49EGaWhtcJMhldhnbH3lHPbnW7-RaUp7',
        descricao: '',
        nome: '',
        show: false,
        imgBkp: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjwoFsZUccDeLpWTgU49EGaWhtcJMhldhnbH3lHPbnW7-RaUp7' 
    }
  },
  methods: {
    selecionarImagem () {
      this.imgBkp = this.imagem
      this.show = true
    },
    inputChangeAvatar (e) {
      this.imagem = e.currentTarget.value
      this.sendGladiador()
    },
    inputChangeDescricao (e) {
      this.descricao = e.currentTarget.value
      this.sendGladiador()
    },
    inputChangeNome (e) {
      this.nome = e.currentTarget.value
      this.sendGladiador()
    },
    cancelar () {
      this.show = false
      this.imagem = this.imgBkp
    },
    salvar () {
      this.show = false
    },
    sendGladiador () {
      this.$emit('gladiador', { 
        nome: this.nome,
        url: this.imagem,
        descricao: this.descricao}, 
        this.ordem)
    }
  },
  mounted () {
  }
}
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.hover {
  cursor: pointer;
}
.avatar {
  object-fit: none;
  width: 500px;
  height: 500px;
}
.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 0px !important;
  width: 100%;
}
.descricao {
  font-size: 100%;
  width: 100%;
}

.uk-card-body {
  padding: 0;
}

 input[type="text"]{
    border: none;
    background: transparent;
    color: #000;
}
</style>
