<template>
    <div>
        <vk-grid class="uk-child-width-1-2@m back">
            <CadastroGladiador 
 
                :ordem=1
                class="concorrente"
                v-on:gladiador="updateGladiador"
            />

            <CadastroGladiador 

                :ordem=2
                class="concorrente"
                v-on:gladiador="updateGladiador"
            />

        </vk-grid>
        <div style="padding-left: 30px; padding-top: 30px; padding-right: 30px; ">
            <vk-button @click="salvar" type="primary" class="uk-width-1-1 uk-margin-small-bottom">Salvar</vk-button>
            <vk-button @click="descartar" type="secondary" class="uk-width-1-1">Descartar</vk-button>
        </div>
        <vk-notification :messages.sync="messages">
            <div slot-scope="{ message }">
                <vk-icon icon="check"></vk-icon> {{ message }}
            </div>
        </vk-notification>
    </div>
    
</template>

<script>
import CadastroGladiador from "@/components/CadastroGladiador"
import Mock from "@/mock/mock"

export default {
  name: 'CadastroDuelo',
  components: {
    CadastroGladiador
  },
  props: {
  },
  data () {
      return {
          messages: [],
          gladiador_um: {
            nome: '',
            imagem: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjwoFsZUccDeLpWTgU49EGaWhtcJMhldhnbH3lHPbnW7-RaUp7',
            descricao: ''
          },
          gladiador_dois: {
            nome: 'Gladiador 2',
            imagem: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjwoFsZUccDeLpWTgU49EGaWhtcJMhldhnbH3lHPbnW7-RaUp7',
            descricao: ''
          },
      }
  },
  methods : {
    updateGladiador (gladiador, ordem) {
        
        if (ordem === 1) {
            this.gladiador_um = gladiador
        }
        else if (ordem === 2) {
            this.gladiador_dois = gladiador
        }
    },
    salvar () {
         // eslint-disable-next-line
        console.log(this.gladiador_um.nome);

        this.gladiador_um.usuarioId = localStorage.id
        this.gladiador_dois.usuarioId = localStorage.id

        let dadosduelista = {
            gladiador_1: this.gladiador_um,
            gladiador_2: this.gladiador_dois,
            pts_1: 0,
            pts_2: 0,
            usuarioId: localStorage.id
        }

        Mock.addDadosDuelista(dadosduelista)
        this.messages.push('Cadastrado com sucesso')
        let me = this
        setTimeout(() => {
            me.$router.push('home')
        }, 2000)
        
    },
    descartar () {
        this.$router.push('home')
    }
  }
}
</script>


<style scoped>

.back {
    padding-left: 15%;
    padding-right: 15%;
}

.concorrente {
    min-width: 200px;
    width: 50%;
}

</style>
