<template>
    <div>
        <vk-grid gutter="small" class="uk-flex-middle">
            <div >
                <img  class="uk-preserve-width uk-border-circle" width="60" :src="avatar">
                <p class="data-hora">{{nome}}</p>
            </div>
                <div  class="uk-width-expand@m texto" >
                    {{comentario.texto}}
                </div>
                <div >
                    <p class="data-hora">{{comentario.datetime.split(' ')[1]}}</p>
                    <p class="data-hora">{{comentario.datetime.split(' ')[0]}}</p>
                </div>

        </vk-grid>
        <div class="separator">
        </div>
    </div>
</template>

<script>
import Mock from "@/mock/mock"
export default {
    
    name: 'Comentario',
    props: {
        comentario: Object
    },
    data () {
        return {
            avatar: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8KjLcRH70YfA14v08_aYF8ta2vhMaWeWpHarw2JVrtcT-wSMU',
            nome: 'Undefined'
        }
    },
    methods: {
    },
    created () {
        this.avatar = Mock.getFromId(this.comentario.userId).avatar
        this.nome = Mock.getFromId(this.comentario.userId).nome
    }
}

</script>
<style scoped>
.texto {
    font-size: 13px
}

.separator {
    margin: 5px;
    height: 1px;
    background-color: rgb(212, 212, 212);
}
.data-hora {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.uk-flex-middle {
    padding: 7px
}
</style>
