<template>
    <div class="conta-page">
        <div class="form">
            <form v-if="!edit">
              <h1 >Editar dados</h1>
              <img  @click="selecionarImagem" class="uk-preserve-width uk-border-circle hover" width="120" :src="userData.avatar">
                <input
                    id="edit_user"
                    required 
                    type="text" 
                    placeholder="Usuário"
                    :value="userData.nome"/>
                <input
                    id="edit_email"
                    required type="text" 
                    placeholder="Email"
                    :value="userData.email"/>
                
            </form>
            <button @click="salvar" >salvar</button>
        </div>
        <vk-modal center :show.sync="show">
          <h4>Cole o link da imagem para ser utilizado no avatar</h4>
          <input @input="inputChangeAvatar" id="link-input" placeholder="wwww.blablabla.com.br/avatar.png" class="descricao"/>
          <div slot="footer" class="uk-text-right">
              <vk-button class="uk-margin-small-right" @click="cancelar">Cancelar</vk-button>
              <vk-button type="primary" @click="salvarAvatar">Salvar</vk-button>
          </div>
        </vk-modal>
        <vk-notification :messages.sync="messages">
          <div slot-scope="{ message }">
              <vk-icon icon="check"></vk-icon> {{ message }}
          </div>
        </vk-notification>
    </div>
</template>

<script>

import Mock from '@/mock/mock'
export default {
    name: 'Conta',
    data () {
        return {
            edit: false,
            editPass: false,
            messages: [],
            userData: {
              nome: '',
              email: '',
              avatar: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA1_cB_z2jVf-eK2Yo6ePIJMwt5DWNnazeauE9BKh9C4P8cVMs"'
            },
            show: false,
            imgBkp: '' 
        }
    },
    methods: {
      selecionarImagem () {
        this.imgBkp = this.userData.avatar
        this.show = true
      },
      inputChangeAvatar (e) {
        this.userData.avatar = e.currentTarget.value
      },
      cancelar () {
        this.show = false
        this.userData.avatar = this.imgBkp
      },
      salvarAvatar () {
        this.show = false
      },
      salvar () {

        let nome = document.getElementById('edit_user').value
        let email = document.getElementById('edit_email').value
        let avatar = this.userData.avatar

        // BaseService.atualizar(this, 'usuarios', id, { 
        //   nome: nome,
        //   email: email
        // }, (response) => {
        //   // eslint-disable-next-line
        //   console.log(response)

        // }, (error) => {
        //   // eslint-disable-next-line
        //   console.log(error)
        //   localStorage.userName = nome
        //   localStorage.email = email
        //   localStorage.avatar = avatar
        // })
        Mock.updateUser({
          nome: nome,
          email: email,
          avatar: avatar
        })
        localStorage.userName = nome
        localStorage.email = email
        localStorage.avatar = avatar

        this.messages.push('Cadastro atualizado !')
        let me = this
        setTimeout(() => {
          me.$router.push('home')
        }, 2000)
        return true
      }
    },
    created () {
      this.userData = {
        nome: localStorage.userName,
        email: localStorage.email,
        avatar: localStorage.avatar
      }
    }
}

</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
.hover {
  cursor: pointer;
}

.conta-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.descricao {
  font-size: 100%;
  width: 100%;
}
</style>
