<template>
    <div  @click="openDuelo" >
        <vk-grid  gutter="collapse" matched class="uk-child-width-1-2@m back">
            <GladiadorGrid 
                :nome="nome1"
                :imagem="imagem1"
                :descricao="descricao1"
                class="concorrente"
            />
            <GladiadorGrid 
                :nome="nome2"
                :imagem="imagem2"
                :descricao="descricao2"
                class="concorrente"
            />

        </vk-grid>
        <vk-notification :messages.sync="messages">
            <div slot-scope="{ message }">
                <vk-icon icon="check"></vk-icon> {{ message }}
            </div>
        </vk-notification>
    </div>
    
</template>

<script>
import GladiadorGrid from "@/components/GladiadorGrid"

export default {
  name: 'DueloGrid',
  components: {
    GladiadorGrid 
  },
  props: {
      nome1: String,
      descricao1: String,
      imagem1: String,
      nome2: String,
      descricao2: String,
      imagem2: String,
      id: Number
  },
  data () {
      return {
          messages: []
      }
  },
  methods : {
      openDuelo () {
          this.$router.push({ name: 'Duelo', params: { id: this.id } })
      }
  }
}
</script>


<style scoped>

.back {
    padding-left: 15%;
    padding-right: 15%;
}

.concorrente {
    min-width: 20px;
    width: 50%;
}

</style>
