<template>
  <div >
    <vk-card class="hover" style="margin-top:20px; border-radius: 2px;">
      <vk-grid slot="header" gutter="small" class="uk-flex-middle">
        <div  >
            <div >
              <vk-card-title class="title">{{nome}}</vk-card-title>
            </div>
        </div>
      </vk-grid>
        <div slot="media-bottom">
            <img :src="imagem" />
        </div>
    </vk-card>

  </div>
</template>

<script>

export default {
  name: 'GladiadorGrid',
  components: {
    
  },
  props: {
    imagem: String,
    descricao: String,
    nome: String
  },
  data () {
    return {
    }
  },
  methods: {

  }
}
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.hover {
  cursor: pointer;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0px !important;
}

.uk-card-header {
  padding: 10px;
}
.uk-card-body {
  padding: 0;
}
</style>
