<template>
  <div >
    <vk-card style="margin-top:40px; border-radius: 10px;">
      <vk-grid slot="header" gutter="small" class="uk-flex-middle">
        <img 

          v-vk-tooltip="{ title: 'Votar em ' + nome, delay: 500 }" 
          @click="vote" 
          class="uk-border-circle hover" 
          width="100" 
          height="100" 
          src="./../assets/upvote1.jpg">

        <div  >
            <div >
              <vk-card-title class="title">{{nome}}</vk-card-title>
              <div class="descricao">{{descricao}}</div>
            </div>
        </div>
      </vk-grid>
        <div class="score" slot="badge">
            <p class="score-text">{{votos}}</p>
        </div>
        <div 
        
            slot="media-bottom">
            <img style="max-height:450px" :src="imagem" />
        </div>
    </vk-card>

  </div>
</template>

<script>

export default {
  name: 'Gladiador',
  components: {
  },
  props: {
    imagem: String,
    descricao: String,
    nome: String,
    votos: Number,
    ordem: Number
  },
  data () {
    return {

    }
  },
  methods: {
    vote () {

      this.$emit('vote', this.ordem)
    }
  }
}
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.hover {
  cursor: pointer;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 350%;
  font-weight: bold;
  margin-bottom: 0px !important;
}
.descricao {
  font-size: 100%;
}
.score {
  margin-right: -70px;
  border-radius: 50%;
  background-image: linear-gradient(#025e56, #258a81, #42b4ab);
  width: 80px;
  height: 80px;  
  border-style: outset;
}

.score-text {
    padding-top: 23%;
    color: white;
    font-size: 200%;
    font-weight: bold;
}

.uk-card-body {
  padding: 0;
}
</style>
