<template>
    <div class="back">
        <div class="wrap">
            <div class="search">
                <input @input="buscar" type="text" class="searchTerm" placeholder="Digite o nome de um gladiador">
                <button type="submit" class="searchButton">

                    <font-awesome-icon icon="search" />
                </button>
            </div>
        </div>
        <vk-grid id="grid" class="uk-child-width-1-4@m grid">
            <DueloGrid  v-for="duelo in duelosFiltrados"  :key="duelo.id" 
              :nome1="duelo.gladiador_1.nome"
              :imagem1="duelo.gladiador_1.url"
              :descricao1="duelo.gladiador_1.descricao"
              :nome2="duelo.gladiador_2.nome" 
              :imagem2="duelo.gladiador_2.url"
              :descricao2="duelo.gladiador_2.descricao"
              :id="duelo.id"  />
        </vk-grid>
    </div>
    
</template>

<script>
import DueloGrid from "@/components/DueloGrid"
import Mock from "@/mock/mock"


export default {
  name: 'Home',
  components: {
     DueloGrid
  },
  props: {
  },
  data () {
      return {
          duelos: [],
          duelosFiltrados: []
      }
  },
  created () {
    this.duelos = Mock.duelos()
    // eslint-disable-next-line
    console.log(localStorage.getItem('usuarios'));
    this.duelosFiltrados = this.duelos
  },
  methods : {
      buscar (e) {
        this.filtrar (e.currentTarget.value) 
      },
      filtrar (value) {
        let me = this
        this.duelosFiltrados = []
        this.duelos.forEach(element => {
          if(element.gladiador_1.nome.toLowerCase().includes(value.toLowerCase()) || element.gladiador_2.nome.toLowerCase().includes(value.toLowerCase())) {
            me.duelosFiltrados.push(element)
          }
        });
      }
  }
}
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.hover {
  cursor: pointer;
}

.back {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.grid {
    margin-top: 3%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #025e56;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #025e56;
  background: #025e56;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


</style>
