<template>
    <div class="login-page">
        <div class="form">
            <transition name="fade"  mode="out-in">
              <div  v-if="signup">
                  <form  >
                      <input id="user_reg" name="user_reg" required type="text" placeholder="Usuário"/>
                      <input id="email_reg" required type="email" placeholder="adm@adm"/>
                      <input id="pass_reg" name="pass_reg" required type="password" placeholder="Senha"/>
   
                  </form>
                  <button @click="cadastrar()">cadastrar</button>
                  <p class="message">Já possui registro? <a v-on:click="signup = !signup" href="#">Faça o login</a></p>
              </div>
                <div v-else>
                  <form >
                      <input 
                          id="email_login"
                          required 
                          type="text" 
                          placeholder="Email"/>
                      <input
                          id="pass_login"
                          required 
                          type="password" 
                          placeholder="Senha"/>
              
                  </form>
                  <button @click="login()">entrar</button>
                  <p class="message">Não possui cadastro? <a v-on:click="signup = !signup" href="#">Cadastre-se agora</a></p>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>


import Mock from '@/mock/mock'
export default {
    name: 'Login',
    data () {
        return {
            signup: false
        }
    },
    created () {
       if (localStorage.id) {
         this.$router.push('home')
       }
    },
    methods: {
      login () {

        let email = document.getElementById('email_login').value
        let senha = document.getElementById('pass_login').value

        let user = Mock.getUserLogin(email, senha)

        if (user !== null) {
           localStorage.userName = user.nome
           localStorage.id = user.id
           localStorage.email = user.email
           localStorage.avatar = user.avatar
           this.$router.push('home')
        } 

        // LoginService.login(this, {
        //   email: email,
        //   password: senha
        // },(response) => {
        //   // eslint-disable-next-line
          
        //   localStorage.userName = response.data.user.nome
        //   localStorage.id = response.data.user.id
        //   localStorage.email = response.data.user.email
        //   localStorage.token = response.data.access_token
        //   localStorage.avatar = 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8KjLcRH70YfA14v08_aYF8ta2vhMaWeWpHarw2JVrtcT-wSMU'
        //   me.$router.push('home')
        // }, (error) => {
        //   localStorage.userName = 'Ruann'
        //   localStorage.id = '20'
        //   localStorage.email = 'ruannb.reis@gmail.com'
        //   localStorage.token = 'AANd9GcT8KjLcRH70YfA14v08_aYF8ta2vhMaWeWpHarw2JVrtcT-wSMU'
        //   localStorage.avatar = 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8KjLcRH70YfA14v08_aYF8ta2vhMaWeWpHarw2JVrtcT-wSMU'
        //   me.$router.push('home')
        //   // eslint-disable-next-line
        //   console.log(error)
        // })
      },
      cadastrar () {
     
        let nome = document.getElementById('user_reg').value
        let email = document.getElementById('email_reg').value
        let senha = document.getElementById('pass_reg').value

        if(Mock.addUser({
          nome: nome,
          email: email,
          senha: senha,
          avatar: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8KjLcRH70YfA14v08_aYF8ta2vhMaWeWpHarw2JVrtcT-wSMU'
        })) {
          this.signup = !this.signup
        }

        // BaseService.cadastrar(this, 'usuarios', { 
        //   nome: nome,
        //   email: email,
        //   password: senha
        // }, (response) => {
        //   // eslint-disable-next-line
        //   console.log(response)
        //   me.signup = !me.signup
        // }, (error) => {
        //   // eslint-disable-next-line
        //   console.log(error)
        // })
        return false
      }
    }
}



</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  opacity: 0;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

</style>
