<template>
  <div id="app">
    <vk-navbar >

        <vk-navbar-logo v-if="this.$route.path === '/login'" slot="center">
          <img width="140" src="./assets/gladiator6.png" />
        </vk-navbar-logo>

      <vk-navbar-logo v-else slot="left">
          <img width="140" src="./assets/gladiator6.png" />
          <h1 v-if="this.$route.path === '/cadastro'" class="title-app" >Cadastrar</h1>
          <h1 v-else-if="this.$route.path === '/duelo'" class="title-app" >É hora do duelo</h1>
          <h1 v-else-if="this.$route.path === '/home'" class="title-app" >Duelos</h1>
          <h1 v-else class="title-app" >Gladiators</h1>
        </vk-navbar-logo>
      <vk-navbar-nav v-if="this.$route.path !== '/login'" slot="right">
        <vk-navbar-nav-item icon="menu" title=""></vk-navbar-nav-item>
        <vk-dropdown>
          <vk-nav-dropdown>
            <vk-nav-item v-if="this.$route.path !== '/home'" href="#" icon="home" title="Início" @click="home"></vk-nav-item>
            <vk-nav-item-divider v-if="this.$route.path !== '/home'"></vk-nav-item-divider>
            <vk-nav-item v-if="this.$route.path !== '/conta'" href="#" icon="user" title="Conta" @click="conta"></vk-nav-item>
            <vk-nav-item-divider v-if="this.$route.path !== '/conta'"></vk-nav-item-divider>
            <vk-nav-item v-if="this.$route.path !== '/cadastro'" href="#" icon="pencil" title="Cadastrar" @click="cadastrar"></vk-nav-item>
            <vk-nav-item-divider v-if="this.$route.path !== '/cadastro'"></vk-nav-item-divider>
            <vk-nav-item href="#" icon="sign-out" title="Sair" @click="sair"></vk-nav-item>
          </vk-nav-dropdown>
        </vk-dropdown>
      </vk-navbar-nav>
    </vk-navbar>

    <router-view  class="components"></router-view>
  </div>
</template>

<script>
import Vue from 'vue'
import VueRouter from 'vue-router'

Vue.use(VueRouter)

export default {
  name: 'app',
  mounted () {
    this.$router.push('login')
  },
  methods: {
    home () {
      this.$router.push('home')
    },
    conta () {
      this.$router.push('conta')
    },
    sair () {
      delete localStorage.userName
      delete localStorage.id 
      delete localStorage.email
      delete localStorage.token
      this.$router.push('login')
    },
    cadastrar () {
      this.$router.push('cadastro')
    }
  }

}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Yatra+One&display=swap');


.uk-navbar-container:not(.uk-navbar-transparent)  {
  background: #025e56 !important;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #d0e7ff;
}
.components {
    margin-top: 0px;
}
.title-app {
  font-family: 'Yatra One', cursive;
  font-size: 250%;
  color: white;
  
}

html, body, #app {
  height: 100%;
  background-color: rgb(223, 237, 240) !important;
}

.uk-navbar-nav > li > a {
  color:white !important;
}

</style>
